

:root {
    --gradient-blue: linear-gradient(144.59deg, #00345a -63.5%, #1100d7 481.28%);
    --gradient-blue--dark: linear-gradient(144.59deg, #002139 -63.5%, #0d0097 481.28%);
    --my-blue: #042976;
  }

body {
    background-color: #f6f6f6;
}